li:hover{
    background-color: green;
    transition: 0.3s;
}

.obrazky img {
    width: 30%;
    height: auto;
    margin: 5px;
}
.obrazky {
    display: inline;
}

footer {
    position: fixed;
    margin-top: 30px;
    height: 50px;
    bottom: 0px;
    width: 100%;
    background-color: rgb(80, 80, 80);
    color: white;
    text-align: center;
}

footer p {
    margin-top: 10px;
}